@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?tk2267');
  src:  url('fonts/icomoon.eot?tk2267#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?tk2267') format('truetype'),
    url('fonts/icomoon.woff?tk2267') format('woff'),
    url('fonts/icomoon.svg?tk2267#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-map-marker:before {
  content: "\e911";
}
.icon-phone:before {
  content: "\e907";
}
.icon-envelop:before {
  content: "\e90f";
}
.icon-search:before {
  content: "\e908";
}
.icon-pinterest-p:before {
  content: "\e905";
}
.icon-play1:before {
  content: "\e904";
}
.icon-linkedin:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-facebook-f:before {
  content: "\e903";
}
.icon-tag:before {
  content: "\e90a";
}
.icon-googleplus:before {
  content: "\e902";
  color: #dc4e41;
}
.icon-instagram:before {
  content: "\e906";
  color: #e4405f;
}
.icon-twitter:before {
  content: "\e900";
  color: #1da1f2;
}
.icon-cancel:before {
  content: "\e90c";
}
.icon-chevron-right:before {
  content: "\e90b";
}
.icon-chevron-left:before {
  content: "\e909";
}
.icon-picture:before {
  content: "\e90d";
}
.icon-play:before {
  content: "\e90e";
}
