.dpl-map {
  width: 100%;
  height: 500px;
  border: #ccc solid 1px;
  margin-top: $column-padding;

  img {
    max-width: inherit !important;
  }

  .map__title {

  }

  .map__address {

  }

  .map__telephone {

  }
}