<div class="dpl-list-item-icon">
	<div class="list-item__icon">
		<img src="{{ iconSrc }}" alt="{{ iconAlt }}" />
	</div>
	<div class="list-item__text">
		<div class="list-item__text-wrapper">
			{{ text }}
		</div>
	</div>
	<div class="clearfix"></div>
</div>
