.dpl-footer {
  background:$bg-dark;
  color:white;
  padding:$column-padding 0;

  .dpl-arbitrary-navigation {
    li {
      border-bottom-color:$bg-medium;
    }

    a {
      color:white;
    }
  }
}