<div class="dpl-headline {% if bgColour %}{{ bgColour }}{% endif %}">
	<div class="container">
		<div class="row">
			<div class="columns twelve">
				<{% if element %}{{ element }}{% else %}h3{% endif %} class="textcenter">
					{{ headline }}
				</{% if element %}{{ element }}{% else %}h3{% endif %}>
			</div>
		</div>
	</div>
</div>