<div class="dpl-task-tracker text-center">
    <h2>Task Tracker</h2>
    <div class="c100 p{{ percent }} dark small center">
                            <span class="stat-wrapper">
                                <span>
                                    <i class="stat-percent"><b>{{ percent }}%</b></i>
                                    <i class="stat-completed">Completed</i>
                                </span>

                            </span>
        <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
        </div>
    </div>
    {% include "@patterns/task-tracker/task-tracker-action-complete.twig" with {
        percent : percent
    } %}
</div>
