{% extends "email-wrapper.twig" %}

{% block body %}
    <p>
        Thank you for creating an account with {{ site_name }}!
    </p>
    <p>
        To verify your account please set your password using the link below:
    </p>
    <a href="{{ set_password_link }}" target="_blank">Set your password.</a>
{% endblock %}