<div class="dpl-overlay-link">
    {% if href %}
        <a href="{{ href }}">
            {% endif %}
                {{ text }}&nbsp;&nbsp;<b>></b>
            {% if href %}
        </a>
    {% endif %}
</div>