<div class="bg-light">
    <div class="container half">
        <div class="section-row">
            <div id="form-set-password">
                <div class="spinner"></div>
            </div>
        </div>
    </div>
</div>