<div class="dpl-social-icons{% if class %} {{ class }}{% endif %}">
	<nav>
		<a class="social-icons__item" href="#">
			<i class="icon-facebook"></i>
		</a>
		<a class="social-icons__item" href="#">
			<i class="icon-linkedin"></i>
		</a>
		<a class="social-icons__item" href="#">
			<i class="icon-phone1"></i>
		</a>
	</nav>
</div>
