<div class="dpl-footer-bottombar">
	<div class="container">
		<div class="row">
			<div class="columns twelve">
				<span>&copy; Steele Rose</span>
				<span>Steele Rose Limited is a Limited Liability Partnership Registered in England and Wales</span>
				<span>Registered Number 01234567890</span>
				<!-- <span>Website by <a href="https://bluebeesolutions.co.uk/" target="_blank">Blue Bee</a></span> -->
			</div>
		</div>
	</div>
</div>