.banner{
	z-index: 1;
}
.site-content, .banner-btm{
	z-index: 2;
}
.hidden-nav{
	z-index: 5;
}
header{
	z-index: 6;
}

/************************************************************************************************
                     * Larger than tablet
 ************************************************************************************************/
@media (min-width: $device-m) {

}