.dpl-tabs {
  margin:$column-padding 0;

  .container {
    padding-left:0;
    padding-right:0;
  }

  .tabs__main-wrapper {
    background:$bg-light;
  }

  .tabs__tab-wrapper {
    display: flex;
    justify-content: center;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    margin:0;
    padding:0;

    > li {
      transition-duration: .25s;
      list-style: none;
      text-align: center;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      margin:0 5px;
      padding:10px;
      box-sizing:border-box;

      &:before {
        z-index: -1;
        position: absolute;
        content: "";
        width: 100%;
        height: 120%;
        top: 0;
        left: 0;
        background-color: $bg-light;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        transition-duration: .25s;
        border-radius: 5px 5px 0 0;
      }

      &:hover {
        &:before {
          -webkit-transform: translateY(70%);
          transform: translateY(70%);
        }
      }

      &.active {
        color: rgb(80, 85, 90);
        background:transparent;

        &:before {
          transition-duration: .5s;
          background-color:$bg-light;
          -webkit-transform: translateY(0);
          transform: translateY(0);
        }
      }
    }
  }

  .tabs__tab-content {
    background-color:$bg-light;
    position: relative;
    width: 100%;
    margin:0;
    padding:0;

    > li {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      list-style: none;

      .tabs__tab-content-wrapper {
        width: 100%;
        padding: $column-padding ($column-padding/2);
        background-color:$bg-light;
        box-sizing:border-box;
      }
    }
  }

  .tabs__tab-title {
    display:flex;
    align-items: center;
    justify-content:center;
    font-weight:bold;
    border-bottom:2px solid $bg-light;
  }

  .tabs__tab-icon {
    margin-right:10px;
  }
}

@media (max-width: $device-m - 1) {
  .dpl-tabs {
    .tabs__tab-wrapper {
      display:block;

      > li {
        display:block;
        width:100%;
        position:relative;
        margin:0;
        transition:all .5s ease;

        &.moving {
          z-index:9;
        }
      }

      .tabs__tab-title {
        justify-content:left;
      }
    }
  }
}