.spinner{ // Spinning circle
  border: 4px solid rgba(255, 255, 255, 0.3);	/* match with border-left */
  border-left: 4px solid $brand1;
  animation: spinner 1.1s infinite linear;
  border-radius: 50%;
  width: 30px;					/* match with height for a circle */
  height: 30px;

  //&.center {
    margin:0 auto;
  //}
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}