<div class="dpl-footer-bottombar">
	<div class="container">
		<div class="row">
			<div class="columns twelve">
				&copy; Steele Rose | Steele Rose Limited is a Limited Liability Partnership Registered in England and Wales | Registered Number 01234567890 | Website by Blue Bee
			</div>
		</div>
	</div>
</div>
