<div class="dpl-snippet">
	<div class="snippet__icon">
		<i class="icon-location"></i>
	</div>
	<div class="snippet__content">
		6 - 9 Deans Farm<br />
		Stratford sub Castle<br />
		Salisbury, SP1 3YP
	</div>
	<div class="clearfix"></div>
</div>
