<div class="dpl-snippet snippet">
	<div class="snippet__icon">
		<i class="icon-email"></i>
	</div>
	<div class="snippet__content">
		info@steelerose.co.uk
	</div>
	<div class="clearfix"></div>
</div>
