<div class="dpl-snippet">
    <div class="snippet__icon">
        <i class="icon-phone"></i>
    </div>
    <div class="snippet__content">
        01722 410 009
    </div>
    <div class="clearfix"></div>
</div>
