{% if cols %}
<div class="dpl-service-grid wrapspace">
    <div class="container">
        <div class="row flex-same-height">
            {% for col in cols %}
                <div class="four columns flex-same-height--item">
                    <div class="service-grid__wrapper">
                        <div class="service-grid__content">
                            <div class="service-grid__image">
                                <img src="{{ col.image }}" alt="{{ col.imageAlt }}" />
                            </div>
                            <div class="service-grid__title">
                                {{ col.title }}
                            </div>
                            <div class="service-grid__text">
                                <p>{{ col.text }}</p>
                            </div>
                            {% if col.buttonHref %}
                            <div class="service-grid__button">
                                {% include "@patterns/button/button.twig" with {
                                    element : "a",
                                    label : col.buttonLabel,
                                    href : col.buttonHref
                                } %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}