<div class="dpl-slider-team">
    <div class="container">
        <div class="row">
            <div class="columns twelve">
                <div class="slider-team__wrapper">
                    {% for slide in slides %}
                        <div class="slider-team__item">
                            <div class="slider-team__item-avatar">
                                <img src="{{ slide.avatar }}" alt="{{ slide.title }}" />
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>