@import "lib/swipe-menu";

$hamburger-height: 60px;
$hamburger-width: $hamburger-height;
$hamburger-bar-width: 3px;
$hamburger-bg: none;
$hamburger-bg-hover: $hamburger-bg;
$hamburger-color: $font-body-color;
$hamburger-color-hover: $brand-highlight;

.hamburger{
  background: $hamburger-bg;
  height: $hamburger-height;
  position: relative;
  width: $hamburger-width;

  .hamburger-box{
    left: 50%;
    position: absolute;
    top: 50%;

    transform: translate3d(-50%, -50%, 0);
  }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background: $hamburger-color;
    height: $hamburger-bar-width;
  }

  &:hover{
    background: $hamburger-bg-hover;

    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
      background: $hamburger-color-hover;
    }
  }
}

.main-menu{
  display: none;
  ul {
    margin-bottom: 0;

    li {
      position: relative;
    }
  }

  a {
    color: $header-color;
    //font-weight: $font-weight-bold;

    &:hover{
      color: $header-color-hover;
    }
  }

  .current-menu-ancestor > a, .current-menu-item > a {
    color: $header-color-current;
    font-weight: $font-weight-bold;
  }

  li {
    margin: 0  15px;

    &:first-child{
      margin-left: 0;
    }
  }
}

@media (min-width: 1200px) {
  .menu-button{
    display: none;
  }

  .main-menu{
    display: inline-block;

    a{
      font-size: $header-font-size;
    }
  }
}

.header-navigation__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
}